*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div{
    width: 100%;
}

.display_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display_flex_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bg-green{
    background: #026933;
    margin: 0 calc(5/1920 * 100vw);padding: 0 calc(5/1920 * 100vw);
}
.bg-red{
    background: #B92B25;
    margin: 0 calc(5/1920 * 100vw);padding: 0 calc(5/1920 * 100vw);
}
.bg-yellow{
    background: #B8892E;
    margin: 0 calc(5/1920 * 100vw);padding: 0 calc(4/1920 * 100vw);
}
.bg-blue{
    background: #010151;
    padding: calc(5/1920 * 100vw);
}
.bg-brown{
    background: #5C2D00;
    margin-left: calc(60/1920 * 100vw);
    padding: calc(5/1920 * 100vw) calc(10/1920 * 100vw);
}
@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Thin';
    src: url('Gotham-Thin.woff2') format('woff2'),
        url('Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Light';
    src: url('Gotham-Light.woff2') format('woff2'),
        url('Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
html{
    /* height: 100vh;
    width: 100vw; */
    font-size: calc(22/1920 * 100vw);
    color: white;
}
body{
    height: 100vh;
    background-image: url('onlyBg.jpg');
    background: linear-gradient(45deg,#01031A , rgba(255, 255, 255, 0) , #01031A  80%), url('onlyBg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper{
    height: 100%;
    width: 100%;
    padding: 3%;
}
.container{
    height: 100%;
    width: 100%;
    /* border: calc(2/1920 * 100vw) solid red; */
    max-width: 1780px;
    margin: 0 auto;
    padding: calc(6/1920 * 100vw);
    align-items: flex-start;
}
.section1{
    height: 100%;
    align-items: flex-start;
}
.section > div{
    height: 100%;
}
.section1 .first_section{
    width: 28%;
    height: 25%;
    font-size: calc(40/1920 * 100vw);
    /* border: calc(1/1920 * 100vw) solid red; */
    /* background: red; */
}
.section1 .second_section{
    height:26%;
    
}
.section1 .third_section{
    height: 22%;
    
}
.section1 .third_section .first_div{
    height: 70%;
    align-items: flex-start;
}
.section1 .third_section .first_div .heading{
    padding: 0  calc(60/1920 * 100vw);

}


.section1 .second_section .first_div .content{
    padding: 0 calc(40/1920 * 100vw);
}
.section1 .second_section .first_div .content .pizza_price{
    justify-content: flex-end;
    padding: 0 calc(20/1920 * 100vw);
}

.section  .first_div .heading{
    justify-content: flex-start;
    /* padding:0 calc(15/1920 * 100vw); */
    font-family: 'Gotham';
}
.section1  .first_div .heading{
    justify-content: flex-start;
    padding:0 calc(35/1920 * 100vw);
    font-family: 'Gotham';
}
.section2 > .third_section:nth-child(1) > .first_div > .heading{
    /* padding:0 0 0  calc(15/1920 * 100vw); */
    width: 45%;
    position: relative;
    bottom: calc(10/1920 * 100vw);
}
.section  .first_div .heading div:nth-child(1){
    width: 70%;
    justify-content: flex-start;

}
.section  .third_section .first_div .heading div:nth-child(1){
    width: 80%;
    justify-content: flex-start;

}
.section .first_div .heading div:nth-child(2){
    width: 30%;
}
.section .first_div .content .pizza_info{
    width: 88%;
}
.section .third_section .first_div .content .pizza_info{
    width: 88%;
}
.section  .first_div .content .pizza_name{
    justify-content: flex-start;
    font-family: 'Gotham';
    align-items: flex-start;
    
}
.section  .first_div .content .description{
    font-family: 'Gotham';
    font-size: calc(19/1920 * 100vw);
    padding-left: calc(40/1920 * 100vw);
    
}
.section .first_div .content{
    margin: calc(9/1920 * 100vw) calc(10/1920 * 100vw) 0 calc(10/1920 * 100vw);
    padding: calc(5/1920 * 100vw) calc(15/1920 * 100vw);
    align-items: flex-start;

}
.new_section .first_div {
    width: 36%;

}
.new_section .first_div .content{
    margin: calc(10/1920 * 100vw) calc(10/1920 * 100vw) 0 calc(40/1920 * 100vw);
    padding: calc(5/1920 * 100vw) calc(15/1920 * 100vw);
    align-items: flex-start;

}
.new_section .first_div .content .pizza_name{
    align-items: flex-start;

}
.new_section .first_div .content .pizza_name .display_flex {
    justify-content: flex-start;

}
.new_section .first_div .content .pizza_name .display_flex p{
    font-size: calc(32/1920 * 100vw);

}
.new_section .first_div .content .pizza_name > p{
    font-size: calc(17/1920 * 100vw) !important;


}
.new_section .first_div .content .pizza_name img{
    height: calc(20/1920 * 100vw);
    width: calc(20/1920 * 100vw);


}

.section1 .third_section .first_div .content {
    margin: calc(10/1920 * 100vw) calc(10/1920 * 100vw) 0 0 !important;
}
.section  .first_div .content .pizza_info .pizza_name > img{
   width: calc(20/1920 * 100vw);
   margin: calc(10/1920 * 100vw) calc(20/1920 * 100vw) 0 0 ;
   /* vertical-align: sub; */
}
.section  .first_div .content .pizza_info .pizza_name p:nth-child(2){
   font-size: calc(32/1920 * 100vw);
   margin-right: calc(12/1920 * 100vw);
}
.section .first_div .content .pizza_info .pizza_name p:nth-child(3){
   font-size: calc(17/1920 * 100vw);
   font-family: 'Gotham Light';

}
.section .first_div .content .pizza_info .pizza_name p:nth-child(3) span img{
   height: calc(20/1920 * 100vw);
   width: calc(20/1920 * 100vw);
   margin-top: calc(10/1920 * 100vw);

}
.section  .first_div .content .pizza_price{
    width: unset;
    font-family: 'Gotham';
    font-size: calc(27/1920 * 100vw);
    justify-content: flex-end;
}
.section  .first_div .heading img{
    width: calc(20/1920 * 100vw);

}
.section .third_section{
    /* width: 48%; */
}

.section2{
    height: 100%;
}
.section2 .second_section{
    width: 48%;
    padding: calc(40/1920 * 100vw) 0;
    border: none;
    border-top: calc(1/1920 * 100vw) solid white;
}
.section2 .second_section .heading{
    padding: 0 calc(50/1920 * 100vw) 0 calc(70/1920 * 100vw);
}
.section2 .second_section .heading div:nth-child(1){
    width: 80%;
}
.section2 .second_section .content{
    padding: 0 calc(40/1920 * 100vw) 0 calc(40/1920 * 100vw);
    margin-top: calc(13/1920 * 100vw);
}
.section2 .second_section .content .pizza_info{
    width: 80%;
    padding: 0 0 0 calc(10/1920 * 100vw);
}
.terms {
    padding: calc(8/1920 * 100vw) 0 0 calc(40/1920 * 100vw);
    font-family: 'Gotham Thin';
    font-size: calc(14/1920 * 100vw);
    align-items: flex-start;
    height: 26%;
}
.terms img{
    width: calc(10/1920 * 100vw);
    height: calc(15/1920 * 100vw);
    vertical-align: sub;
    margin: 0 calc(2/1920 * 100vw);
}

.section2 .second_section .content img{
    width: calc(20/1920 * 100vw);
}
.section2 .third_section:nth-child(1){
    height: 45%;
    padding: 0 calc(35/1920 * 100vw) 0 calc(10/1920 * 100vw);
}
.section2 .new_section{
    height: 34%;
    align-items: flex-start;
}
.section2 .third_section:nth-child(2){
    height: 19%;
}
.section2 .first_section{
    width: 24%;
}


.section2  .third_section h2:nth-child(1){
    width: 57%;
    margin-left: calc(20/1920 * 100vw);
    font-family: 'Gotham';
}
.section2  .third_section h2:last-child{
    font-family: 'Gotham';
    width: 100%;
    position: relative;
    top: calc(30/1920 * 100vw);
    font-size: calc(26/1920 * 100vw);
    padding: calc(10/1920 * 100vw) calc(18/1920 * 100vw);
}
.section2 .third_section .first_div{
   position: relative;
   top: calc(-20/1920 * 100vw);
   z-index: -1;
   align-items: flex-start;
}
.section2 .third_section .second_div{

}
.section2 .third_section .inner_div {
    font-family: 'Gotham';
    padding: calc(20/1920 * 100vw) calc(10/1920 * 100vw) 0 calc(20/1920 * 100vw);
}
.section2 .third_section .inner_div p{
    font-size:calc(27/1920 * 100vw);
    width: 90%;
}
.section2 .third_section .first_div .inner_div > .display_flex{
    /* padding: calc(6/1920 * 100vw); */
    align-items: flex-start;
    width: 43%;
}
.veg-meals{
    
    border-right: calc(4/1920 * 100vw) dotted blue;
}
.section2 .third_section .content {
    padding: 0 0 0 calc(15/1920 * 100vw) !important;
    margin: 0 !important;
}
.section2 .third_section .second_div .inner_div {
    padding: calc(10/1920 * 100vw) calc(24/1920 * 100vw) 0 calc(36/1920 * 100vw);
}
.section2 .third_section .second_div .inner_div p:nth-child(1) span{
    font-size: calc(20/1920 * 100vw);
}
.section2 .third_section .second_div .inner_div p:nth-child(2){
    font-size: calc(40/1920 * 100vw);
    padding-bottom: calc(12/1920 * 100vw);
}
.section .third_section .first_div .content{
    margin: calc(16/1920 * 100vw) calc(10/1920 * 100vw) 0 0 !important;
    padding: 0px 0px 0 calc(22/1920 * 100vw);
    align-items: flex-start;

}
.section1 .third_section .first_div .content{
    padding: 0  calc(40/1920 * 100vw) !important;
    margin-top: calc(12/1920 * 100vw) !important;

}.section2 .third_section:nth-child(2) .first_div .nonveg-meals .content{
    margin: 0 !important; 
}

